<!-- Advanced Software and Web Developer Diploma -->
<!-- Part X: C# and .NET Framework - Part 2 -->
<!-- by Pitman Training / The Tech Academy -->

<!-- MODULE 11: Creating MVC Applications -->
<!-- AUTHOR: Steven Partlow -->
<!-- DATE: 25/02/2023 -->

@model MVCTutorial.Models.User

<h1>
    @Model.Id
</h1>

<h1>
    @Model.FirstName
</h1>

<h1>
    @Model.LastName
</h1>

<h1>
    @Model.Age
</h1>