@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Advanced Software and Web Developer Diploma -->
<!-- Part X: C# and .NET Framework - Part 2 -->
<!-- by Pitman Training / The Tech Academy -->

<!-- FINAL PROJECT: Final Challenge -->
<!-- AUTHOR: Steven Partlow -->
<!-- DATE: 16/03/2023 -->

<!-- LANDING PAGE -->

<div class="text-center"> <!-- Center all page elements -->

    <!-- MAIN PAGE HEADING -->
    <h1 class="display-4">Welcome to this .NET CORE Web Application</h1>
    
    <hr/> <!-- HORIZONTAL LINE -->

    <!-- GET POST -->
    <!-- Display this text followed by the date and time-->
    <p>The current date and time is @ViewData["TimeStamp"].</p> <!-- Create a view data variable called TimeStamp -->

</div> <!-- End DIV -->
