@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Advanced Software and Web Developer Diploma -->
<!-- Part X: C# and .NET Framework - Part 2 -->
<!-- by Pitman Training / The Tech Academy -->

<!-- FINAL PROJECT: Final Challenge -->
<!-- AUTHOR: Steven Partlow -->
<!-- DATE: 16/03/2023 -->

<h1>@ViewData["Title"]</h1>

<p>This page is under construction as of @ViewData["TimeStamp"].</p>
